player-connection-mode=Connect
player-connection-guid=1709666329
player-connection-debug=0
player-connection-project-name=Roller_ball_test
player-connection-wait-timeout=-1
player-connection-ip=10.40.3.14
player-connection-ip=172.23.16.1
player-connection-ip=10.0.0.26
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=6ff9873f302e46e0828b8fceec05f740
