player-connection-mode=Connect
player-connection-guid=998878858
player-connection-debug=0
player-connection-project-name=Roller_ball_test
player-connection-wait-timeout=-1
player-connection-ip=172.23.16.1
player-connection-ip=10.0.0.26
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=1b60c024c1e44a6ab24898613a8b96f2
